ul {
    width: 60%;
    height: vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto;
}

li {
    width: 33.3%;
    list-style-type: none;
    background-color: cadetblue;
    color: white;
    border: solid 4px lightblue;
    border-radius: 5%;
    margin: 0px 0px;
    font-size: 1.5em;
    padding: 10px;
}